<p id="notice"></p>
<p><%= link_to 'Início', "home/index" %> > Favoritas</p>

<h1>Favoritas</h1>

<table>
  <tbody>
    <% @favorites.each do |favorite| %>
      <% version = Version.find(favorite.version_id) %>
      <% song = Song.find(version.song_id) %>
      <tr>
        <td>
          <%= link_to version, method: :get do %>
            <% if !song.author.empty? %><%= song.author %> -<% end %>
            <% if song.number != nil %><%= song.number %> - <% end %>
            <%= song.title %><% end %><br/>
          <span class="subtitle"><%= version.title %> (<%= version.key %>)</span>
        </td>
        <td><%= link_to favorite, method: :delete do %>
          <i class="material-icons">clear</i>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Voltar', "home/index" %>
