<div class="phome">
<h1>Chá com Pão</h1>
<br/><br/>
<% if user_signed_in? && current_user.themepref == 'dark' %>
  <%= image_tag("guitar_piano3.png") %>
<% else %>
  <%= image_tag("guitar_piano2.png") %>
<% end %>

<% if user_signed_in? %>
  <p><strong>Nome: </strong><%= current_user.full_name %><br/>
  <strong>Email: </strong><%= current_user.email %><br/>
  <strong>Cargo: </strong>
    <% case current_user.role %>
    <% when "administrator" %>
      Administrador
    <% when "musician" %>
      Instrumentista
    <% when "commonuser" %>
      Cantor
    <% end %>
  </p><br/>
</div>

<table class="homemenu">
  <thead><tr><th colspan="2"></th></tr></thead>
  <tbody>
    <tr class="tdbutton">
      <td><%= link_to songs_path do %><i class="material-icons">search</i><% end %></td>
      <td>
        <%= link_to songs_path do %>
          <div class="songlist">Buscar música</div>
        <% end %>
      </td>
    </tr>
    <tr class="tdbutton">
      <td><%= link_to versions_path do %><i class="material-icons">library_music</i><% end %></td>
      <td>
        <%= link_to versions_path do %>
          <div class="songlist">Minhas cifras</div>
        <% end %>
      </td>
    </tr>
    <tr class="tdbutton">
      <td><%= link_to versions_path do %><i class="material-icons">star</i><% end %></td>
      <td>
        <%= link_to favorites_path do %>
          <div class="songlist">Favoritas</div>
        <% end %>
      </td>
    </tr>
    <tr class="tdbutton">
      <td><%= link_to edit_user_registration_path do %><i class="material-icons">person</i><% end %></td>
      <td>
        <%= link_to edit_user_registration_path do %>
          <div class="songlist">Editar perfil</div>
        <% end %>
      </td>
    </tr>
    <tr class="tdbutton">
      <td><%= link_to destroy_user_session_path, method: :delete do %>
      <i class="material-icons">logout</i><% end %></td>
      <td>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <div class="songlist">Sair</div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<% else %>
  <h3>Entre para acessar o sistema!</h3>
  <%= link_to "Entrar", new_user_session_path %>
<% end %>
