<p id="notice"></p>

<h1>Músicas</h1>

<table>
  <thead>
    <tr>
      <th>nº</th>
      <th>Título</th>
      <th>Artista</th>
      <th>Categoria</th>
      <th>Cifras</th>
      <% if current_user.role == "administrator" %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.number %></td>
        <% default_version = Version.find_by(song_id: song.id, title: "default") %>
        <td><%= link_to song.title, default_version %></td>
        <td><%= song.author %></td>
        <td><%= song.category %></td>
        <td><%= link_to 'Ver todas', song %></td>
        <% if current_user.role == "administrator" %>
          <td><%= link_to 'Editar', edit_song_path(song) %></td>
          <td><%= link_to 'Excluir', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.role == "administrator" %>
  <%= link_to 'Registrar uma música', new_song_path %><br/><br>
<% end %>

<%= link_to 'Voltar', "home/index" %>