<p id="notice"></p>
<p><%= link_to 'Início', "home/index" %> > Músicas</p>

<h1>Músicas
<% if current_user.role == "administrator" %>
  <%= link_to new_song_path do %><i class="material-icons">post_add</i><% end %>
<br/><% end %></h1>

<%= form_tag songs_path, :method => :get, id: 'search_form' do %>
  <ul class="searchbox">
    <li class="searchbox-item searchfield">
      <%= text_field_tag 'search', nil, placeholder: "Insira aqui os termos da busca" %>
    </li>
    <li class="searchbox-item searchaction">
      <%= submit_tag "Buscar", id: 'search_submit' %>
    </li>
  </ul>
<% end %>

<table>
  <thead>
    <tr>
      <th>nº</th>
      <th>Música</th>
      <th>Cifras</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.number %></td>
        <% default_version = Version.find_by(song_id: song.id, title: "default") %>
        <td><%= link_to song.title, default_version, method: :get %>
        <% if !song.author.empty? %>
          <br/>(<%= song.author %>)
        <% end %>
        <% if !song.category.empty? %>
          <br/>(<%= song.category %>)
        <% end %></td>
        
        <td><%= link_to song do %><i class="material-icons">library_music</i><% end %>
        <% if current_user.role == "administrator" %>
          <%= link_to edit_song_path(song) do %><i class="material-icons">edit</i><% end %>
          <%= link_to song, method: :delete, data: { confirm: 'Tem certeza? Esta ação não poderá ser desfeita.' } do %>
            <i class="material-icons">delete</i>
          <% end %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Voltar', "home/index" %>
