<p id="notice"></p>
<p id="alert"></p>
<p>
  <%= link_to 'Início', "../home/index" %> | 
  <%= link_to 'Buscar música', songs_path %>
</p>

<p>
  <h2>
    <% if @song.number %>
      <%= "#{@song.number} - " %>
    <% end %>
    <%= @song.title %>
    <% if !@song.author.empty? %>
      <%= "(#{@song.author})" %>
    <% end %>
  </h2>
  <%= link_to @def_version, method: :get do %><i class="material-icons">check</i><% end %>
  <%= link_to "Cifra Padrão", @def_version, method: :get %> (<%= @def_version.key %>)
  <br/>
  
  <%= link_to new_version_path(ref_song: @song.id) do %><i class="material-icons">post_add</i><% end %>
  <%= link_to "Adicionar cifra para esta música", new_version_path(ref_song: @song.id) %>
</p>
<br/>

<h3>Minhas cifras</h3>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_versions.each do |version| %>
      <tr>
        <td>
          <%= link_to version, method: :delete, data: { confirm: 'Tem certeza? Esta ação não poderá ser desfeita.' } do %><i class="material-icons">delete</i><% end %>
          <%= link_to edit_version_path(version) do %><i class="material-icons">edit</i><% end %>
        </td>
        <td><%= link_to version.title, version, method: :get %></td>
        <td>(<%= version.key %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>

<h3>Cifras de outros usuários</h3>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @other_vers.each do |version| %>
      <tr>
        <% if current_user.role == "administrator" %>
          <td>
            <%= link_to version, method: :delete, data: { confirm: 'Tem certeza? Esta ação não poderá ser desfeita.' } do %><i class="material-icons">delete</i><% end %>
            <%= link_to edit_version_path(version) do %><i class="material-icons">edit</i><% end %>
          </td>
        <% else %>
          <td>
            <%= link_to version, method: :get do %><i class="material-icons">list_alt</i><% end %>
          </td>
        <% end %>
        <td><%= link_to version.title, version, method: :get %>
        <br/>por <%= User.find(version.user_id).full_name %></td>
        <td>(<%= version.key %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/><br/><%= link_to 'Procurar outra música', songs_path %>
