<p id="notice"></p>
<p id="alert"></p>
<p>
  <%= link_to 'Início', "../home/index" %> >
  <%= link_to 'Músicas', songs_path %> >
</p>

<h2>
  <% if @song.number %>
    <%= "#{@song.number} - " %>
  <% end %>
  <%= @song.title %>
  <% if !@song.author.empty? %>
    <%= "(#{@song.author})" %>
  <% end %>
</h2>

<table>
  <tbody>
    <tr class="tdbutton">
      <td>
        <%= link_to @def_version, method: :get do %><i class="material-icons">check</i><% end %>
      </td>
      <td>
        <%= link_to @def_version, method: :get do %>
          <div class="songlist">Cifra Padrão (<%= @def_version.key %>)</div>
        <% end %>
      </td>
    </tr>

    <% if @fav_ver != nil %>
      <tr class="tdbutton">
        <td>
          <%= link_to @fav_ver, method: :get do %><i class="material-icons">star</i><% end %>
        </td>
        <td>
          <%= link_to @fav_ver, method: :get do %>
            <div class="songlist">Cifra Favorita (<%= @fav_ver.key %>)</div>
          <% end %>
        </td>
      </tr>
    <% end %>

    <tr class="tdbutton">
      <td>
        <%= link_to new_version_path(ref_song: @song.id) do %><i class="material-icons">post_add</i><% end %>
      </td>
      <td>
        <%= link_to new_version_path(ref_song: @song.id) do %>
          <div class="songlist">Adicionar cifra para esta música</div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<br/>

<h3>Minhas cifras</h3>
<table>
  <tbody>
    <% @my_versions.each do |version| %>
      <tr class="tdbutton">
        <td>
          <%= link_to version, method: :delete, data: { confirm: 'Tem certeza? Esta ação não poderá ser desfeita.' } do %><i class="material-icons">delete</i><% end %>
          <%= link_to edit_version_path(version) do %><i class="material-icons">edit</i><% end %>
        </td>
        <td>
          <%= link_to version, method: :get do %>
            <div class="songlist"><%= version.title %> (<%= version.key %>)</div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>

<h3>Cifras de outros usuários</h3>
<table>
  <tbody>
    <% @other_vers.each do |version| %>
      <tr class="tdbutton">
        <% if current_user.role == "administrator" %>
          <td>
            <%= link_to version, method: :delete, data: { confirm: 'Tem certeza? Esta ação não poderá ser desfeita.' } do %><i class="material-icons">delete</i><% end %>
            <%= link_to edit_version_path(version) do %><i class="material-icons">edit</i><% end %>
          </td>
        <% else %>
          <td>
            <%= link_to version, method: :get do %><i class="material-icons">list_alt</i><% end %>
          </td>
        <% end %>
        <td>
          <%= link_to version, method: :get do %>
            <div class="songlist">
              <%= version.title %> (<%= version.key %>)
              <br/>por <%= User.find(version.user_id).full_name %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/><br/><%= link_to 'Procurar outra música', songs_path %>
