<%= form_with(model: version, local: true) do |form| %>
  <% if version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(version.errors.count, "error") %> prohibited this version from being saved:</h2>

      <ul>
        <% version.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "Nome da versão" %><br/>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :key, "Tom" %><br/>
    <%= form.text_field :key %>
  </div>

  <div class="field">
    <%= form.label :songparts, "Cifra" %><br/>
    <%= form.text_area :songparts, rows: 20, value: @default_text %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar" %>
  </div>
<% end %>
