<h2>Editar Cifra</h2>
<h3><% unless @song.author.empty? %>
    <%= "#{@song.author} - " %>
<% end %><%= @song.title %></h3>
<br/>

<%= render 'form_edit', version: @version %>

<br/>
Voltar para:
<%= link_to 'Cifras', @song %> |
<%= link_to 'Esta cifra', @version, method: :get %>
