<h2>Editar Cifra</h2>
<h3><% unless @song.author.empty? %>
    <%= "#{@song.author} - " %>
<% end %><%= @song.title %></h3>
<br/>

<%= render 'form_edit', version: @version %>

<%= link_to 'Ver Cifra', @version %> |
<%= link_to 'Voltar', @song %>
