<p id="notice"></p>
<p><%= link_to 'Início', "home/index" %> > Cifras</p>

<h1>Minhas Cifras</h1>

<%= form_tag versions_path, :method => :get, id: 'terms_form' do %>
  <% if @filter_term == "updated_at" %>
    <%= radio_button_tag 'terms', 'title' %> Nome
    <%= radio_button_tag 'terms', 'updated_at', checked: true %> Última atualização
  <% else %>
    <%= radio_button_tag 'terms', 'title', checked: true %> Nome
    <%= radio_button_tag 'terms', 'updated_at' %> Última atualização
  <% end %>
  &nbsp;<%= submit_tag "Ordenar", id: 'terms_submit' %>
<% end %><br/>

<table>
  <thead>
    <tr>
      <th>Cifra</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <% song = Song.find(version.song_id) %>
      <tr>
        <td>
          <%= link_to version.title, version, method: :get %> (<%= version.key %>)<br/>
          <span class="subtitle"><% if !song.author.empty? %><%= song.author %> -<% end %>
          <% if song.number != nil %><%= song.number %> - <% end %><%= song.title %></span>
        </td>
        <td><%= link_to edit_version_path(version) do %><i class="material-icons">edit</i><% end %>
        <%= link_to version, method: :delete, data: { confirm: 'Tem certeza? Esta ação não poderá ser desfeita.' } do %>
        <i class="material-icons">delete</i><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Voltar', "home/index" %>
