<p id="notice"></p>
<p><%= link_to 'Início', "home/index" %> > Cifras</p>

<h1>Minhas Cifras</h1>

<table>
  <thead>
    <tr>
      <th>nº</th>
      <th>Música</th>
      <th>Cifra</th>
      <th>Tom</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <% song = Song.find(version.song_id) %>
      <tr>
        <td><%= song.number %></td>
        <td><%= song.title %>
        <% if !song.author.empty? %>
          <br/>(<%= song.author %>)<% end %></td>
        <td><%= link_to version.title, version %></td>
        <td>(<%= version.key %>)</td>
        <td><%= link_to edit_version_path(version) do %><i class="material-icons">edit</i><% end %>
        <%= link_to version, method: :delete, data: { confirm: 'Tem certeza? Esta ação não poderá ser desfeita.' } do %>
        <i class="material-icons">delete</i><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Voltar', "home/index" %>
