<p id="notice"></p>

<h1>Minhas Cifras</h1>

<table>
  <thead>
    <tr>
      <th>nº</th>
      <th>Música</th>
      <th>Artista</th>
      <th>Categoria</th>
      <th>Cifra</th>
      <th>Tom</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <% song = Song.find(version.song_id) %>
      <tr>
        <td><%= song.number %></td>
        <td><%= song.title %></td>
        <td><%= song.author %></td>
        <td><%= song.category %></td>
        <td><%= link_to version.title, version %></td>
        <td><%= version.key %></td>
        <td><%= link_to 'Editar', edit_version_path(version) %></td>
        <td><%= link_to 'Excluir', version, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Voltar', "home/index" %>
