<p id="notice"></p>

<p>
  <h2><% if @song.number %>
    <%= "#{@song.number} - " %>
  <% end %><%= @song.title %></h2>
  <h3><%= @song.author %></h3>
</p>

<p>
  <% if (@version.title != "default") && (@user.role != "administrator") %>
    <strong><%= @version.title %></strong> por <strong><%= @user.full_name %></strong><br/>
  <% end %><br/>
  <strong>Tom:</strong>
  <span class="boldred"><%= @version.key %></span>
</p>

<% if current_user.id == @user.id %>
  <%= link_to 'Editar cifra', edit_version_path(@version) %> | 
<% end %>
<%= link_to 'Ver outras versões', @song %><br/><br/>

<p class="text">
  <% @version.transcribe.lines.each_with_index do |line, i| %>
    <% if /:\s*\n$/ === line %>
      <span class="verse"><%= line %></span><br/>
    <% elsif line[0] == "C" %>
      <span class="chords"><%= line.delete_prefix("C") %></span>
    <% else %>
      <span class="lyrics"><%= line.delete_prefix("L") %></span>
    <% end %>
  <% end %>
</p>

<%= link_to 'Procurar outra música', songs_path %>
