<div class="scplayer">
  <%# <i class="material-icons">speed</i> %>
  <span class="subtitle"><div class="sccontrol" id="scspeed"></div></span><br/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <button type="button" id="scslow"><i class="material-icons">fast_rewind</i></button>
  <div class="sccontrol sccontrol_front scbtactive">
    <button type="button" id="scplay"><i class="material-icons">play_arrow</i></button>
  </div><div class="sccontrol sccontrol_back">
    <button type="button" id="scpause"><i class="material-icons">pause</i></button>
  </div> <button type="button" id="scfast"><i class="material-icons">fast_forward</i></button>
  <button type="button" id="sctop"><i class="material-icons">replay</i></button>
  <button class="incfont"><i class="material-icons">add</i></button>
  <button class="decfont"><i class="material-icons">remove</i></button>
  <%# <div id="scloc"></div> %>
</div>

<div id="chordstart">
<p><p id="notice"><% if notice %><%= notice %><% else %><br/><% end %></p>
  <%= link_to 'Início', "../home/index" %> | 
  <%= link_to 'Buscar música', songs_path %>
</p><br/>

<p>
  <h2><% if @song.number %>
    <%= "#{@song.number} - " %>
  <% end %><%= @song.title %></h2>
  <h3><%= @song.author %></h3>
</p>

<p>
  <% if @version.title != "default" %>
    <strong><%= @version.title %></strong><br/>por <strong><%= @user.full_name %></strong><br/><br/>
  <% end %>
  <% if @on_click == 'on' %>
    <% @on_click = 'off' %>
  <% elsif @on_click == 'off' %>
    <% @on_click = 'on' %>
  <% end %>

  <% if current_user.id == @user.id %>
    <%= link_to 'Editar cifra', edit_version_path(@version) %> | 
  <% end %>
  <%= link_to 'Adicionar cifra', new_version_path(ref_song: @song.id) %> | 
  <%= link_to 'Outras cifras', @song %><br/><br/>

  <table>
    <thead>
      <tr>
        <th>Tom</th>
        <th></th>
        <th>Usar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="modhalf">
          <%= link_to url_for(key_change: '-1', on_click: @on_click, prefs: @user_pref), method: :get do %>
            –&half;
          <% end %>
          <span class="boldred">
            <% if (@key == 0) && (@user_pref == 0) %>
              <%= @version.key %>
            <% else %>
              <% @key_name = @version.change_keyname(@key, @user_pref) %>
              <%= @key_name %>
            <% end %>
          </span>
          <%= link_to url_for(key_change: '1', on_click: @on_click, prefs: @user_pref), method: :get do %>
            +&half;
          <% end %>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td id="harmonicfield">
          <%= link_to url_for(key_change: '2', on_click: @on_click, prefs: '0'), method: :get do %>
            <% if @user_pref == 0 %><span class="boldred">&natur;</span>
            <% else %><strong>&natur;</strong><% end %>
          <% end %>&nbsp;&nbsp;
          <%= link_to url_for(key_change: '2', on_click: @on_click, prefs: '1'), method: :get do %>
            <% if @user_pref == 1 %><span class="boldred">&sharp;</span>
            <% else %><strong>&sharp;</strong><% end %>
          <% end %>&nbsp;&nbsp;
          <%= link_to url_for(key_change: '2', on_click: @on_click, prefs: '2'), method: :get do %>
            <% if @user_pref == 2 %><span class="boldred">&flat;</span>
            <% else %><strong>&flat;</strong><% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</p>

<p class="text">
  <% if (@key != 0) || (@user_pref != 0) %>
    <% @version.change_key(@key, @key_name, @user_pref).lines.each_with_index do |line, i| %>
      <% if /:\s*\n$/ === line %>
        <span class="verse"><%= line %></span><br/>
      <% elsif line[0] == "C" %>
        <span class="chords"><%= line.delete_prefix("C") %></span>
      <% else %>
        <span class="lyrics"><%= line.delete_prefix("L") %></span>
      <% end %>
    <% end %>

  <% else %>
    <% @version.transcribe.lines.each_with_index do |line, i| %>
      <% if /:\s*\n$/ === line %>
        <span class="verse"><%= line %></span><br/>
      <% elsif line[0] == "C" %>
        <span class="chords"><%= line.delete_prefix("C") %></span>
      <% else %>
        <span class="lyrics"><%= line.delete_prefix("L") %></span>
      <% end %>
    <% end %>
  <% end %>
</p>
</div>

<div id="chordend">
<%= link_to 'Procurar outra música', songs_path %>

</div>

<script type="text/javascript">
  const $sccontrol_front = document.querySelector('.sccontrol_front');
  const $sccontrol_back = document.querySelector('.sccontrol_back');
  let speed_change = 80;

  $('.incfont').on('click', function() {
    xsize = parseInt($("p.text").css('font-size')) + 1;    
    $("p.text").css('font-size', xsize);
  });

  $('.decfont').on('click', function() {
    xsize = parseInt($("p.text").css('font-size')) - 1;    
    $("p.text").css('font-size', xsize);
  });

  // function scloc(txt) {
  //   $("#scloc").html("location : <b>" + txt + "</b> px")
  // }

  function scspeed(txt) {
    $("#scspeed").html("<strong>" + txt + "x</strong>")
  }

  $(function() {
    // var target = $("#chordend").offset().top;
    // scloc(target - $(window).scrollTop());
    // $(window).scroll(function() { // when window is scrolled
    //   scloc(target - $(window).scrollTop());
    // });

    var speedometer = (170 - speed_change) / 10;
    scspeed(parseInt(speedometer, 10));
  });

  $("#scfast").click(function() {
    $('html, body').stop();
    if (speed_change > 10) {
      speed_change = speed_change - 10;
    } else {
      speed_change = 1;
    }
    var speedometer = (170 - speed_change) / 10;
    scspeed(parseInt(speedometer, 10));
    $("#scplay").click();
  });

  $("#scslow").click(function() {
    $('html, body').stop();
    if (speed_change < 160) {
      speed_change = speed_change + 10;
    }
    var speedometer = (170 - speed_change) / 10;
    scspeed(parseInt(speedometer, 10));
    $("#scplay").click();
  });

  $("#scplay").click(function() {
    var target = $("#chordend").offset().top; // Captura o elemento que desejamos ir
    var dist = target - $(window).scrollTop();
    var scrollspeed = parseInt(dist, 10) * speed_change;

    $('html, body').animate({
      scrollTop: target // Captura a posição do elemento
    }, scrollspeed); // Tempo de animação em milissegundos
    
    $sccontrol_front.classList.remove('scbtactive');
    $sccontrol_back.classList.add('scbtactive');
  });

  $("#scpause").click(function() {
    $('html, body').stop();

    $sccontrol_back.classList.remove('scbtactive');
    $sccontrol_front.classList.add('scbtactive');
  });

  $("#sctop").click(function() {
    $('html, body').stop();
    var target = $( $("#chordstart") );
    $(document).scrollTop(target.offset().top);

    $sccontrol_back.classList.remove('scbtactive');
    $sccontrol_front.classList.add('scbtactive');
  });
</script>