<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Chacompao</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      <% if user_signed_in? && current_user.themepref == 'dark' %>
        body {
          background-color: #1c1e1f;
          color: #fff;
        }
        a {
          color: #fff;
        }
        a:visited {
          color: #fff;
        }
        a:hover {
          color: #000;
          background-color: #fff;
        }
        .chords_menu {
          background-color: #1c1e1f;
        }
        .tdbutton a:hover {
            color: #fff;
        }
        .tdbutton:hover {
            background-color: #232729;
        }
        p.notice, #notice {
          color: #8ae22b;
        }
        span.boldred, span.chords, p.alert, #alert {
          color: #ff688c;
          /* color: #f92472; */
        }
        th {
          color: #ddd;
        }
      <% end %>
    </style>
  </head>

  <body>
    <p class="notice"><%= sanitize notice %></p>
    <p class="alert"><%= sanitize alert %></p>
    <%= yield %>
  </body>
</html>
